* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    padding: 20px;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
}

form input,
form select,
form button {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px);
    /* Adjust for padding and border */
}

form button {
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

.ticket-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ticket-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    position: relative;
    transition: transform 0.2s;
    float: inline-start;
}

.ticket-card:hover {
    transform: scale(1.02);
}

.ticket-card h3 {
    margin-top: 0;
}

.ticket-card p {
    color: #555;
}

.ticket-card button {
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: 5px 0;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.ticket-card button.confirmed {
    background-color: #6c757d;
}

.ticket-card button.edit {
    background-color: #ffc107;
}

.ticket-card button.delete {
    background-color: #dc3545;
}

.ticket-card button:hover {
    opacity: 0.8;
}